@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.pale-white-bg {
  background-color: #b8ffe1 !important;
}

.greenish-color {
  color: #015239 !important;
}

.greenish-bg {
  background-color: #015239 !important;
}

.bluish-color {
  color: #7d56fc !important;
}

.bluish-bg{
  background-color: #7d56fc !important;
}
